Anypoint/src/main/app/project2-fightclub.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:json="http://www.mulesoft.org/schema/mule/json" xmlns:mulexml="http://www.mulesoft.org/schema/mule/xml" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/json http://www.mulesoft.org/schema/mule/json/current/mule-json.xsd
http://www.mulesoft.org/schema/mule/xml http://www.mulesoft.org/schema/mule/xml/current/mule-xml.xsd">
    <http:listener-config name="HTTP_Listener_Configuration" host="0.0.0.0" port="8081" doc:name="HTTP Listener Configuration"/>
    <http:request-config name="HTTP_Request_Configuration" host="localhost" port="7861" doc:name="HTTP Request Configuration"/>
    <http:request-config name="HTTP_Request_Configuration1" host="localhost" port="8083" doc:name="HTTP Request Configuration"/>
    <http:request-config name="HTTP_Request_Configuration2" host="localhost" port="8083" basePath="/api" doc:name="HTTP Request Configuration"/>
    <spring:beans>
    		<spring:bean class="com.revature.entity.User" name="User" />
    </spring:beans>
    <http:request-config name="HTTP_Request_Configuration3" host="localhost" port="8083" basePath="/api" doc:name="HTTP Request Configuration"/>
    <http:request-config name="HTTP_Request_Configuration4" host="localhost" port="8083" basePath="/api" doc:name="HTTP Request Configuration"/>
    <flow name="project2-fightclubFlow">
        <http:listener config-ref="HTTP_Listener_Configuration" path="/" doc:name="HTTP"/>
        <http:request config-ref="HTTP_Request_Configuration" path="/get" method="GET" doc:name="HTTP - Get Random User"/>
        <echo-component doc:name="Echo"/>
        <invoke object-ref="User" method="setName" methodArguments="#[json:results[0]/name/first]" doc:name="Invoke - Set Name"/>
        <echo-component doc:name="Echo"/>
        <invoke object-ref="User" method="setId" methodArguments="#[json:results[0]/id/value]" doc:name="Invoke - Set Id"/>
        <echo-component doc:name="Echo"/>
        <component class="com.revature.entity.User" doc:name="Java"/>
    </flow>
</mule>
